---
import type { Page } from 'astro';
import  NotesNavigation from "../../components/NotesNavigation.astro";

export async function getStaticPaths({ paginate }) {
  const allNotesPages = Object.values(import.meta.glob('../notes/**/*.md', { eager: true }));
  return paginate(allNotesPages, { pageSize: 1 });
}

interface Props {
  page: Page<any>;
}

const { page } = Astro.props;

console.log(page.url.prev)
console.log(page.url.next)
---

<h1> page {page.currentPage} </h1>

<p>Debug: Next URL = {page.url.next}</p>
<p>Debug: Prev URL = {page.url.prev}</p>

<NotesNavigation currUrl={page.url.current} prevUrl={page.url.prev} nextUrl={page.url.next}/>
