---
import MainLayout from '../layouts/MainLayout.astro';

const foundNotes = import.meta.glob('./notes/**/*.md', { eager: true });
const allNotes = Object.values(foundNotes);
const totalNotes = allNotes.length;
// allNotes.forEach(note => {
//   console.log(note.frontmatter.section , note.frontmatter.title);
// });

const Sections = [...new Set(allNotes.map(note => note.frontmatter.section))];
console.log(Sections , Sections.length);

const notesBySection = allNotes.reduce((acc, note) => {
  const { section } = note.frontmatter;
  if (!acc[section]) {
    acc[section] = [];
  }
  acc[section].push(note);
  return acc;
}, {});

const sortedSections = Sections.map(section => {
  return {
    sectionName: section,
    notesList: (notesBySection[section] || []).sort((a, b) => {
      return a.file.localeCompare(b.file); // sorty by file path
    })
  };
});

const pageTitle = 'Web Development Notes';
const pageDescription = 'Table of Contents for all my front-end web development notes. Click on any listed item to be taken to its corresponding page.';
---

<MainLayout pageTitle={pageTitle} pageDescription={pageDescription}>
    <main>
        <h1>{pageTitle}</h1>
        <p>You can go through the table of contents and view notes by subject or click on tags to view a page listing all the tags associated with each note.</p>
        <p>So far I have added {totalNotes} individual notes.</p>
        <section id="Tags">
            <h2>Tags</h2>
            <a href='/tags/'>Tags</a>
        </section>
        <section id='TOC'>
            <h2>Table Of Contents</h2>
            {sortedSections.map(section => (
                <h3>{section.sectionName}</h3>
                <nav>
                    <ol type="i">
                        {section.notesList.map(note => (
                        <li>
                            <a href={note.url}>{note.frontmatter.title}</a>
                        </li>
                        ))}
                    </ol>
                </nav>
            ))}
        </section>
    </main>
</MainLayout>

<style>
    #Tags , #TOC {
        width: 250px;
        padding: 10px 20px;
        margin: 20px 0 20px;
        box-sizing: content-box;
        border-radius: 10px;
        background-color: var(--card-colour);
    }

    #Tags {
        padding: 10px 20px 20px;
    }
</style>